---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import MyTitleH2 from '../components/MyTitleH2.astro'
const { blok } = Astro.props
---

<div {...storyblokEditable(blok)} class='bg-white py-24 containerBorderBottom'>
	<div class='container mx-auto flex flex-col gap-12'>
		<div class='flex items-end justify-between gap-12'>
			<MyTitleH2 title={blok.Title} class='max-w-4xl' />
			{
				blok.Link?.map((blok) => {
					return <StoryblokComponent blok={blok} variant='link' size='link' />
				})
			}
		</div>
		<div class='flex justify-between gap-1 rounded-3xl bg-white p-2'>
			<video
				class='size-full rounded-4xl object-cover'
				controls
				poster={blok?.Poster?.filename}
			>
				<source src={blok?.Video?.filename} type='video/mp4' />
			</video>
		</div>
	</div>
</div>
