---
import { storyblokEditable } from '@storyblok/astro'

const { blok } = Astro.props

const { ...rest } = Astro.props

import { MyLink } from '@/components/ui/myLink'
---

<div {...storyblokEditable(blok)}>
	<MyLink href={blok.link.cached_url} {...rest}>
		{blok.title}
	</MyLink>
</div>
